* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-image: url('../imgs/wallpaper.jpg'); */
  /* background-size: cover; */
  background: #2ac8d4;
  background: -webkit-radial-gradient(top left, #2ac8d4, #a229cc);
  background: -moz-radial-gradient(top left, #2ac8d4, #a229cc);
  background: radial-gradient(to bottom right, #2ac8d4, #a229cc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  cursor: pointer;
  display: inline-block;
  margin: 37px 0 14px 0;
  font-weight: 400;
  margin-right: 20px;
}

h4 {
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
}

h2:first-letter {
  text-decoration: underline;
}

h2:first-letter {
  text-decoration: underline;
}

.container {
  margin-top: 10px;
  position: relative;
  padding: 14px;
  width: 25rem;
  background-color: #b8b8b8;
  box-shadow: 11px 10px 22px 8px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 11px 10px 22px 8px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 11px 10px 22px 8px rgba(0, 0, 0, 0.72);
}

img {
  height: 24px;
  margin-right: 10px;
  margin-top: 3px;
}

.top {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #010062;
}

.top button {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 10px;
  width: 28px;
  height: 28px;
  outline: 2px outset #000000;
}

p {
  color: white;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 10px;
}

table {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 7px;

  border-collapse: collapse;
  height: 20rem;
  outline: 4px inset #bdbdbd;
}

.game-body {
  padding-bottom: 5px;
  padding-top: 10px;

  outline: 4px outset #c4c4c4;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 85%;
  height: 110px;
  margin: auto;
  outline: 4px inset #c4c4c4;

  background-color: #b8b8b8;
}

.restart {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  width: 58px;
  height: 58px;
  background-color: #b8b8b8;
  outline: 4px outset #c4c4c4;
}

.restart:active {
  outline: 4px inset #c4c4c4;
}

.timer {
  outline: 4px inset #c4c4c4;
  width: 90px;
  height: 62px;
  background-color: #000000;
}

.timer span,
.flag span {
  margin-left: 15px;

  color: #831812;
  font-size: 38px;
}
.flag {
  outline: 4px inset #c4c4c4;
  width: 90px;
  height: 62px;
  background-color: #000000;
}

.cell {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: 1px solid rgb(58, 58, 58);
}

.cell img {
  margin: auto;
  height: 20px;
  width: 20px;
}

.pressed {
  background-color: #999999;
  outline: 2px inset #8a8a8a;
}

.top p {
  display: inline-block;

  top: 100px;
  right: 70px;
}

.lives {
  font-size: 16px;
  margin-left: 14px;
  margin-bottom: 17px;
}

.hints {
  cursor: pointer;
  font-size: 28px;
}

.addOns {
  display: flex;
  cursor: pointer;
}

.admin button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 25px;
  font-weight: bold;
  transition: 0.2s ease;
}

.adminPressed {
  background-color: rgb(170, 53, 53);
  color: #ffffff;
}
